<p>Podaj listę punktów</p>
<input [(ngModel)]="argsString">

<div>
  <button (click)="onClick()">Rysuj</button>
</div>
<div *ngIf="isVisible">
  <canvas baseChart width="400px" height="400px"
                  [datasets]="datasets"
                  [chartType]="chartType"
                  [colors]="colors"
                  [labels]="labels"
                  [options]="options"></canvas>
</div>
